<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover" style="cursor: pointer">
        <thead class="thead-dark rounded-1">
        <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Total</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders" routerLink="/orders/{{order.id}}">
          <th># {{order.id}}</th>
          <td>{{order.orderDate | date: 'medium'}}</td>
          <td>{{order.total | currency: "EUR"}}</td>
          <td [ngStyle]="{'color': (order.status === 'Payment Received') ? '#008000FF' : (order.status === 'Payment Failed') ? '#8B0000FF': '#55595c'}">
            <strong>{{order.status}}</strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
